<form action="/dishes" method="post">
	<input type="hidden" name='authenticity_token' value='<%=form_authenticity_token%>'>
<label for="">Dish name:</label>
<input type="text" name="name">
<label for="">Image url</label>
<input type="text" name='url'>
<button>submit</button>
</form>