<h1>submit a project</h1>
<form class="" action="/projects" method="post" enctype="multipart/form-data" >
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">

  <label for="">Title</label>
  <input type="text" name="title" value="">

  <input type="file" name='preview'>

  <button >submit</button>

</form>
