<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <title>Hogwarts</title>
  </head>
  <body>
    <nav>
      <h1>Welcome to Hogwarts!</h1>
      <a href="/houses">House</a>
      <a href="/students">students</a>
      <a href="/students/new">enroll</a>
    </nav>

    <%= yield %>

  </body>
</html>
