<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello Movies</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>
  <nav>
<a href="/">Home</a>
<a href="/history">Search History</a>
</nav>
  <%= yield %>

</body>
</html>
