<form class="" action="/session" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
<label for="">Email:</label>
<input type="text" name="email" value=""><br>
<label for="">password:</label>
<input type="password" name="password" value="">
<button >Sign me up</button>
</form>
