body{
  background-color: mistyrose
  }
  nav{
    display:block;
  }
  a{
    font-size: 40px;
    margin: 20px 15%;
  }
  h1{
  font-size:100px;
  color:red;
  text-align: center;
}

img{
  display:inline-block;
  margin-right: 50px;
  margin-top: 30px;

}

div{

  display:inline-block;

}
p{
  font-size:60px;
  color:gold;
  margin: 15PX auto;
}

form{
  text-align: center;
  margin:15% auto
}

input,button{
  color:grey;
  font-size:40px;
}
