<!DOCTYPE html>
<html>
  <head>
    <title>PokedexApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <a href="/pokemons">my pokemons</a>
    <a href="/pokemons/new">add new pokemon</a>

    <%= yield %>
  </body>
</html>
